<!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h2>{{ 'Way To Us' | t }}</h2>
				</div>
				<div class="col-lg-6">
					<div class="row">
						{{ content.body }}
					</div>
				</div>
				<div class="col-lg-6">
					{{ content.field_map }}
				</div>
			</div>
		</div>
    </section><!-- End Contact Section -->